<br/>
<br/>
<br/>
<h5 class="sidebar-title">
  <span>Previous Addresses
  <%= link_to_with_icon("icon-circle-arrow-up", 
                                  "Expand", 
                                  "#",
                                  onclick: "javascript:expand_address_loader();", 
                                  class: "expand-address-loader",
                                  no_text: true) %>
  </span>  
</h5>

<input type='text' name='order_address_search' id='order_address_search' placeholder='Search addresses' size='26' value='<%= params[:a].present? ? params[:a] : '' %>'/>


<% if @addresses and @addresses.size > 0 %>

  <% @addresses.each do |a| %>
    <div id="address-<%= a.id %>" class="admin-order-address">
      <div class="admin-order-address-action">
        USE AS:<br/>
        <%= link_to "Billing", "#", onclick: "javascript:
        $('#order_bill_address_attributes_firstname').attr('value', '#{j(a.firstname)}');
        $('#order_bill_address_attributes_lastname').attr('value', '#{j(a.lastname)}');
        $('#order_bill_address_attributes_company').attr('value', '#{j(a.company)}');
        $('#order_bill_address_attributes_address1').attr('value', '#{j(a.address1)}');
        $('#order_bill_address_attributes_address2').attr('value', '#{j(a.address2)}');
        $('#order_bill_address_attributes_city').attr('value', '#{j(a.city)}');
        $('#order_bill_address_attributes_zipcode').attr('value', '#{j(a.zipcode)}');
        $('#order_bill_address_attributes_country_id').attr('value', '#{a.country_id}');
        $('#order_bill_address_attributes_state_id').attr('value', '#{a.state_id}');
        $('#bcountry div a span').text('#{a.country.name}'); update_state('b');
        $('#bstate div a span').text('#{a.state ? a.state.name : nil}');
        $('#order_bill_address_attributes_state_name').attr('value', '#{!a.state ? a.state_name : nil}');
        $('#order_bill_address_attributes_phone').attr('value', '#{a.phone}'); return false;" %>
        <br/>
        <%= link_to "Shipping", "#", onclick: "javascript:
        $('input[id=order_use_billing]').attr('checked', false);
        $('#shipping').show();
        $('#shipping input').prop('disabled', false);
        $('#shipping select').prop('disabled', false);
        $('#order_ship_address_attributes_firstname').attr('value', '#{j(a.firstname)}');
        $('#order_ship_address_attributes_lastname').attr('value', '#{j(a.lastname)}');
        $('#order_ship_address_attributes_company').attr('value', '#{j(a.company)}');
        $('#order_ship_address_attributes_address1').attr('value', '#{j(a.address1)}');
        $('#order_ship_address_attributes_address2').attr('value', '#{j(a.address2)}');
        $('#order_ship_address_attributes_city').attr('value', '#{j(a.city)}');
        $('#order_ship_address_attributes_zipcode').attr('value', '#{j(a.zipcode)}');
        $('#order_ship_address_attributes_country_id').attr('value', '#{a.country_id}');
        $('#order_ship_address_attributes_state_id').attr('value', '#{a.state_id}');
        $('#scountry div a span').text('#{a.country.name}'); update_state('s');
        $('#sstate div a span').text('#{a.state ? a.state.name : nil}');
        $('#order_ship_address_attributes_state_name').attr('value', '#{!a.state ? a.state_name : nil}');
        $('#order_ship_address_attributes_phone').attr('value', '#{a.phone}'); return false;" %>
        <br/>
        <%= link_to "Delete", 
          admin_address_path(a.id), 
          class: 'admin-order-address-delete',
          method: 'delete',
          confirm: "Remove this address?\n(new window will open)".html_safe, 
          target: '_NEW' 
        %>
      </div>

      <%= a %>
      <br/>
    </div>
  <% end %>
<% else %>
  <p>No addresses found</p>
<% end %>
